{:paths ["src"]
 :deps {com.lambdaisland/witchcraft {:local/root "/home/arne/github/lambdaisland/witchcraft"}
        net.glowstone/glowstone {:mvn/version "2021.7.0-SNAPSHOT"}
        com.github.virtuald/curvesapi {:mvn/version "1.07"}

        }
 :aliases {:dev {:extra-paths ["repl_sessions"]}}
 :mvn/repos
 {"glowstone-repo" {:url "https://repo.glowstone.net/content/repositories/snapshots/"}
  "aikar" {:url "https://repo.aikar.co/nexus/content/repositories/aikar-release/"}}}
